:root {
    --type-normal: #A8A77A;
    --type-fighting: #C22E28;
    --type-flying: #A98FF3;
    --type-poison: #A33EA1;
    --type-ground: #E2BF65;
    --type-fire: #EE8130;
    --type-rock: #B6A136;
    --type-bug: #A6B91A;
    --type-ghost: #735797;
    --type-steel: #B7B7CE;
    --type-water: #6390F0;
    --type-grass: #7AC74C;
    --type-electric: #F7D02C;
    --type-psychic: #F95587;
    --type-ice: #96D9D6;
    --type-dragon: #6F35FC;
    --type-dark: #705746;
    --type-fairy: #D685AD;
    --type-stellar: #FFD700;
    --type-unknown: #68A090;
}

.types-container {
    display: flex; 
    flex-wrap: wrap; 
}

[class^="type-"] {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    width: 100px;
}

.type-normal {
    background-color: var(--type-normal);
}

.type-fighting {
    background-color: var(--type-fighting);
}

.type-flying {
    background-color: var(--type-flying);
}

.type-poison {
    background-color: var(--type-poison);
}

.type-ground {
    background-color: var(--type-ground);
}

.type-fire {
    background-color: var(--type-fire);
}

.type-rock {
    background-color: var(--type-rock);
}

.type-bug {
    background-color: var(--type-bug);
}

.type-ghost {
    background-color: var(--type-ghost);
}

.type-steel {
    background-color: var(--type-steel);
}

.type-water {
    background-color: var(--type-water);
}

.type-grass {
    background-color: var(--type-grass);
}

.type-electric {
    background-color: var(--type-electric);
}

.type-psychic {
    background-color: var(--type-psychic);
}

.type-ice {
    background-color: var(--type-ice);
}

.type-dragon {
    background-color: var(--type-dragon);
}

.type-dark {
    background-color: var(--type-dark);
}

.type-fairy {
    background-color: var(--type-fairy);
}

.type-stellar {
    background-color: var(--type-stellar);
}

.type-unknown {
    background-color: var(--type-unknown);
}
